<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="loggedIn()">
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#/home">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#/scheduler/">Horarios</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#/login" (click)="logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
</div>
<br>
<div class="content">
  <router-outlet></router-outlet>
</div>